body{
    display: flex;
    flex-direction: column;
}


header{
    width: 100%;
    height: 50px;
    background-color: green;
    border: solid black 5px;
}


section{
    width: 100%;
    height: 100px;
    background-image: repeating-linear-gradient(160deg, red,yellow 10%, green);
    /*background-color: blue;*/
    border: solid black 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#box {
    box-shadow: 10px 10px 5px grey;
}

.about-me{
    width: 100%;
    height: 200px;
    background-color: rgb(177, 69, 21,0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    border: solid black 1px;
    padding: 0 20px;
    font-size: 15px;
    background-image: linear-gradient(red, blue);

}

#button1 {
    width: 100px;
    height: 50px;
}

.avatar{
    width: 100px;
    border-radius: 50%;
    margin: 5px;
}

#name{
    color: blue;
}

.test{
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
    border: solid black;
}